<footer>
    <section class="footer-widget-area footer-widget-area-bg">
        <div class="container">

            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>
                        We are world largest and trustful blood donation center. We have been working since 1973 with a
                        prestigious vision to helping patient to provide blood.
                        We are working all over the world, organizing blood donation campaign to grow awareness among
                        the people to donate blood.
                    </p>
                </div>
            </div>
        </div>

    </section>
    <section class="footer-widget-area footer-widget-area-bg footer-widget-area-copyright">
            <div class="container">

                    <div class="row">
        
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p>
                                    ©2019-2020. Angular Test Web site. All Rights Reserved
                            </p>
                        </div>
                    </div>
            </div>
    </section>

</footer>